@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@import "./shadcn.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.drag-region {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

*,
a,
button {
  cursor: default;
  user-select: none;
}
